*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.navbar{
  background-color:  #2C2E43  !important;
  padding:10px 70px;
  font-size: 16px ;
  
}
.nav-link{
  color:#FFF !important;
  margin:15px;
}
.active{
  color: #2C2E43 !important;
  font-weight: bold;
}
.navbar-brand{
  color: #fff !important
}

.search{
    
    width:19%;
    margin-left:1%;
}
footer{
    text-align: center;
    background-color: #2C2E43;
    color:white;
    padding:10px;
    margin-top:70px;
    
}
footer p{
    margin-top:20px;
}
.form{
    box-shadow: 9px 9px 20px #EEDCC9;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    width:50%;
    background-color: #FFF;
    
}
.btn-success{
  background-color:#2C2E43;
  border-color:#2C2E43!important;
  outline:none;
  width:100%;
}
.btn-success:hover, .btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.disabled,
.btn-success:disabled,.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active{
  background-color:#2C2E43 !important;
  border-color:#2C2E43 !important;
  outline:none !important;
}

.form input{
  width:100%;
  
}
body{
  background-color: #f1f1f1;
}
.dropbtn {
    background-color: #F0C929;
    color: #000;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    vertical-align: middle;
    margin-top:8px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    
  }
  
 
  .dropdown-content {
    
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    z-index: 1;
    box-shadow: 9px 9px 20px #EEDCC9;
    display: none;
  }
  
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 12px 16px;
    
    
  }
  .dropdown-content .nav-link{
      margin:0;
  }
  .dropdown:hover .dropbtn {
    background-color: #F0C929;
  }

  .dropdown-content a:hover {
      background-color: #ddd;
    }
  
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
 
  